/build/
/gradle/
/gradlew/
.gradle/
.idea/
/domain/build/
/application/build/
/infrastructure/build/
/models/
/bin/
.classpath
.project
.settings/
/domain/bin/
/domain/.classpath
/domain/.project
/application/bin/
/application/.classpath
/application/.project
/infrastructure/bin/
/infrastructure/.classpath
/infrastructure/.project
/infrastructure/models/
/infrastructure/test.json